textarea {
    min-height: 400px;
}


.email-ele:hover{
    color: rgb(0, 225, 255);
    padding: 2px;
}

a{  
    color: black;
    list-style: none;
    text-decoration: none;
}
.reply-btn{
    margin-top: 100px;
    /* border: 2px solid green; */
}

.read {
    background-color: rgb(219, 219, 219);
}