{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

    <div class="row p-3  r bg-dark">
        <div class=" nav col-7">
            <button class="btn btn-sm btn-outline-info me-2" id="inbox">Inbox</button>
            <button class="btn btn-sm btn-outline-primary me-2" id="compose">Compose</button>
            <button class="btn btn-sm btn-outline-success me-2" id="sent">Sent</button>
            <button class="btn btn-sm btn-outline-warning me-2" id="archived">Archived</button>
            <a class="btn btn-sm btn-outline-danger" href="{% url 'logout' %}">Log Out</a>
        </div>


        <div class="col text-center text-light">
            <i class="bi bi-person-fill">{{ request.user.email }}</i>
        </div>
    
    </div>
   
   
    <hr>

    <div id="emails-view" class="bg-dark py-3 container ">
    </div>
  

    <div id="email-info" class="border container pb-2 bg-light" >
    </div>

    <div id="compose-view"  class="bg-dark">
        <div id="message" class="text-danger">
        </div>
        <h3 class="bg-dark text-primary pt-2">New Email</h3>
        <form id="compose-form" >
            <div class="p-3 bg-dark">
                <div class="input-group ">
                    <span class="input-group-text" id="inputGroup-sizing-default ">From:</span>
                    <input disabled value="{{ request.user.email }}" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group ">
                    <span class="input-group-text" id="inputGroup-sizing-default">To:</span>
                    <input id="compose-recipients" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
    
                <div class="input-group mb-3 ">
                    <span class="input-group-text" id="inputGroup-sizing-default">Subject:</span>
                    <input id="compose-subject" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>

            <div class=" read pb-2">
                <textarea class="form-control read" id="compose-body" placeholder="Body"  rows="11" cols="50"></textarea>
                <button type="submit" class="btn btn-primary"><i class="bi bi-send-fill">Send</i></button>
            </div> 
          
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}